* {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
  background-color: #b9f6ca;
  font-family: 'Pt Sans', sans-serif;
}

.green-bar {
  height: 1em;
  background-color: #88c399;
}

.content-container {
  height: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  background-color: #ecfffd;
  padding: 2%;
  max-width: 1140px;
  margin: auto;
  margin-bottom: 2%;
}

.header {
  text-align: center;
}

.project-header {
  padding: 0 0.5em;
  font-size: 1.5em;
  border-left: 2px solid #59926b;
  border-bottom: 2px solid #59926b;
}


.project-name, .project-description {
  margin: 1em 0 0 1em;
}

button {
  background-color: #b1ddd9;
  margin-top: 0.8em;
  border: none;
  font-size: 1.5em;
  letter-spacing: 2px;
  display: inline-block;
  transition: all 0.2s;
  outline: none;
}

button:hover {
  letter-spacing: 3px;
  cursor: pointer;
}

button:active {
  transform: scale(0.9)
}

.project-description {
  font-size: 1.2em;
  vertical-align: text-top;
}

object {
  width: 1000px;
  height: 1000px;
}
